# Advanced Sets

In [1]:
s = set()

In [2]:
s.add(1)

In [3]:
s.add(2)

In [4]:
s

{1, 2}

In [5]:
# Cannot have duplicates in sets
s.add(2)
s

{1, 2}

In [11]:
# Create a full set at init
s = {1,2,3}
s

{1, 2, 3}

In [12]:
# Copy a set to a new variable
sc = s.copy()

# Once copied, it doesn't change with original
s.add(4)
print('s: ',s,' sc: ',sc)

s:  {1, 2, 3, 4}  sc:  {1, 2, 3}

In [13]:
# Difference method between two or more sets
s.difference(sc)

{4}

In [15]:
# Remove all elements of another set (s2) from this set (s1).
s1 = {1,2,3}
s2 = {1,4,5}
s1.difference_update(s2)
print('s1: ',s1,' s2: ',s2)

s1:  {2, 3}  s2:  {1, 4, 5}

In [16]:
s

{1, 2, 3, 4}

In [21]:
# Discard an element in a set -> No error if not in set
s.discard(4)

In [22]:
s

{1, 2, 3}

In [23]:
# Return intersection between two or more sets
s1 = {1,2,3}
s2 = {1,2,4}
s1.intersection(s2)

{1, 2}

In [24]:
s1

{1, 2, 3}

In [25]:
# Update a set to be the intersection of itself and another.
s1.intersection_update(s2)

In [26]:
s1

{1, 2}

In [27]:
s2

{1, 2, 4}

In [28]:
# Check if a set does NOT have an intersection with another
s1 = {1,2}
s2 = {1,2,4}
s3 = {5,100}

In [29]:
# False because s1 & s2 have an intersection
s1.isdisjoint(s2)

False

In [30]:
# True because no intersection
s1.isdisjoint(s3)

True

In [31]:
# If a set is contained in another set (subset)
# True because all values in s1 are in s2
s1.issubset(s2)

True

In [32]:
s1.issubset(s3)

False

In [33]:
# If a set contains another set (superset) -> opposite of above
s2.issuperset(s1)

True

In [34]:
s1.issuperset(s2)

False

In [35]:
# Return the difference between the two sets -> opposite of intersection
# There is an 'update' feature as well if needed
s1.symmetric_difference(s2)

{4}

In [37]:
# Returns all elements in either set
s1.union(s3)

{1, 2, 5, 100}

In [41]:
# Make one set the same as another
s1.update(s2)
s1

{1, 2, 4}